language: csharp
dist: trusty
sudo: required
mono: none
dotnet: 1.0.1
services:
  - docker

before_install:
  - chmod +x build.sh

script:
  - ./build.sh --quiet verify

after_success:
 - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" registry.heroku.com;
    docker build -t "$APP_NAME" ./bin/Release/netcoreapp1.1/publish;
    docker tag "$APP_NAME" registry.heroku.com/{"$APP_NAME"}/web
    docker push registry.heroku.com/{"$APP_NAME"}/web
    fi